@using DS.BusinessLogic.Invoice;
@{
    var invoiceBLL = new InvoiceBLL();
    DS.BusinessObject.Invoice.InvoiceBO obj = (DS.BusinessObject.Invoice.InvoiceBO)Model;
    var orgInvoice = new DS.BusinessObject.Invoice.InvoiceBO();
    if (obj.INVOICETYPE == (int)DS.Common.Enums.EnumHelper.INVOICE_TYPE.ALTERNATIVE || obj.INVOICETYPE == (int)DS.Common.Enums.EnumHelper.INVOICE_TYPE.MODIFIED)
    {
        orgInvoice = invoiceBLL.GetInvoiceById(obj.REFERENCE, obj.USINGINVOICETYPE);
    }
    var waitingDateObj = ViewBag.Date;
    string currencyWords = string.Empty;
    decimal totalQuantity = 0;
    decimal totalMoneyWithoutTax = 0;
    decimal totalMoney = 0;
    decimal totalDiscount = 0;
    decimal totalVatAmount = 0;
    decimal totalVatAmountwater = 0;
    string onlyVATRate = "0"; // cho hóa đơn 1 thuế\
    bool addRowTd = false;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Mẫu nhiều thuế suất 01</title>
    <link rel="stylesheet" href="https://onfinance.asia/tracuu/Content/bootstrap.min.css">

    <style>
        body {
            height: 720px;
            background-image: url('https://e.onfinance.asia/Images/bg_invoice/bg18.jpg');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
        }

        body, table {
            font-size: 13px;
            font-family: 'Times New Roman';
            color: #212529;
        }

            table th, table td {
                vertical-align: middle !important;
            }

            table th {
                text-align: center !important;
                padding: .3rem 0 !important;
            }

                table th i {
                    font-weight: 400;
                }

            table tr.rowlist td {
                border-right-color: #212529;
                border-bottom: 1px solid #fff0 !important;
                font-weight: bold;
                font-size: 15px;
            }

        .logo {
            display: none;
            border: 0;
            width: 140px;
            height: 150px;
            margin-right: 15px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .logo-left {
            display: none;
            border: 0;
            width: 150px;
        }

        #layer1 {
            position: relative;
            height: 100%;
            margin: 0;
            padding: 0 40px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-width: 0px;
            border-style: solid;
            border-color: #fff;
            background-image: url('');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }

        .x-image {
            position: absolute;
            width: 70%;
            top: 12%;
            left: calc(15%);
        }

        .col-content {
            padding-left: 15px;
        }
    </style>
</head>

<body class="wrap-body-cls">
    @if (obj.ID == 0)
    {
        <img class="temp" style="position: absolute; width: 200px; top: 45%; left: calc(50% - 100px); transform: rotate(-30deg)" src="https://e.onfinance.asia/Images/temp_hoa_don_mau.png" />
    }
    @if (obj.INVOICETYPE == (int)DS.Common.Enums.EnumHelper.INVOICE_TYPE.CANCEL)
    {
        <img class="x-image" src="https://e.onfinance.asia/Images/backgorundX.png" />
    }
    <div class="bg">
        <div id="layer1" class="layer-warp">
            <table class="table table-sm table-borderless" style="margin-top: 0;margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td class="logo">
                            @*<div class="logo"></div>*@
                        </td>
                        <td align="center" valign="top">
                            <p style="font-size: 20px; color: #FF0000; font-weight: bold;margin-bottom: 0px;">
                                HÓA ĐƠN GIÁ TRỊ GIA TĂNG <br />(TIỀN NƯỚC)
                            </p>
                            <p style="padding: 0;margin: 0;font-size: 18px;">
                                <i>(Bản thể hiện của hóa đơn điện tử)</i>
                                <br />
                                @if (waitingDateObj == null)
                                {
                                    if (obj.INVOICESTATUS == 2)
                                    {
                                    <p style="padding: 0; margin: 0;">Ngày <i>(date)</i> @(obj.ID == 0 ? "" : obj.SIGNEDTIME.Day.ToString("D2")) tháng <i>(month)</i> @(obj.ID == 0 ? "" : obj.SIGNEDTIME.Month.ToString("D2")) năm <i>(year)</i> @(obj.ID == 0 ? "" : obj.SIGNEDTIME.Year.ToString()) </p>
                                }
                                else
                                {
                                    <p style="padding: 0; margin: 0;">Ngày <i>(date)</i> @(obj.ID == 0 ? "" : DateTime.Now.Day.ToString("D2")) tháng <i>(month)</i> @(obj.ID == 0 ? "" : DateTime.Now.Month.ToString("D2")) năm <i>(year)</i> @(obj.ID == 0 ? "" : DateTime.Now.Year.ToString()) </p>
                                }
                            }
                            else
                            {
                                <p style="padding: 0; margin: 0;">Ngày <i>(date)</i> @waitingDateObj[0] tháng <i>(month)</i> @waitingDateObj[1] năm <i>(year)</i> @waitingDateObj[2] </p>
                            }
                            </td>
                            <td style="width: 250px; line-height: 24px;">
                                Mẫu số <i>(Form)</i>: <span id="form_invoice_template">@obj.FORMCODE</span><br>
                                Ký hiệu <i>(Serial No)</i>: <span id="symbol_invoice_template">@obj.SYMBOLCODE</span><br>
                                Số <i>(Invoice No)</i>: <strong style="color: #FF0000; font-size: 20px;">@obj.NUMBER.ToString("D7")</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <div class="row">
                            <div class="col-content"><b style="text-transform: uppercase;">@obj.COMNAME</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Địa chỉ:</div>
                            <div class="col-md-6" style="margin-left:-60px;"> <b>@obj.COMADDRESS</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Mã số thuế:</div>
                            <div class="col-md-3" style="margin-left:-60px;"> <b>@obj.COMTAXCODE</b></div>
                            <div class="col-md-2">Điện thoại:</div>
                            <div class="col-md-5" style="margin-left:-100px;"> <b>@obj.COMPHONENUMBER</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Số tài khoản:</div>
                            <div class="col-md-9" style="margin-left:-60px;">
                                <b>@obj.COMACCOUNTNUMBER</b>@if (!string.IsNullOrEmpty(obj.COMBANKNAME))
                                {
                                    <b> tại @obj.COMBANKNAME</b>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Tên khách hàng:</div>
                            <div class="col-md-9" style="margin-left:-60px;"> <b style="text-transform:uppercase">@(string.IsNullOrWhiteSpace(obj.CUSBUYER) ? obj.CUSNAME : obj.CUSBUYER)</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Địa chỉ:</div>
                            <div class="col-md-9" style="margin-left:-60px;"><b>@obj.CUSADDRESS</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Mã khách hàng: <b>@obj.CUSTOMERCODE</b></div>
                            <div class="col-md-3">Mã số thuế: <b>@(obj.CUSTAXCODE == obj.CUSTOMERCODE ? "" : obj.CUSTAXCODE)</b></div>
                            <div class="col-md-3">Mã ĐH: <b></b></div>
                            <div class="col-md-3">Số hộ: <b>@obj.APARTMENTNO</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Điện thoại:<b></b></div>
                            <div class="col-md-3">Hình thức thanh toán: <b>@obj.CUSPAYMENTMETHOD</b></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Từ ngày: <b>@obj.FROMDATE.ToString("dd/MM/yyyy")</b></div>
                            <div class="col-md-3">Đến ngày: <b>@obj.TODATE.ToString("dd/MM/yyyy")</b></div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-sm" style="border: 1px solid #000 !important">
                    <tbody>
                        <tr>
                            <th class="border-dark" align="center" style="width: 150px;">Chỉ số cũ</th>
                            <th class="border-dark" align="center" style="width:150px;">Chỉ số mới</th>
                            <th class="border-dark" align="center" style="width: 200px;">Khối lượng (m3)</th>
                            <th class="border-dark" align="center" style="width: 200px;">Đơn giá (đồng)</th>
                            <th class="border-dark" align="center" style="width: 200px;">Thành tiền (đồng)</th>
                        </tr>
                        @foreach (var inv in obj.LISTPRODUCT)
                        {
                            var unit = inv.QUANTITYUNIT == "-1" ? "Khác" : inv.QUANTITYUNIT;
                            var retailPrice = inv.RETAILPRICE;
                            var amountWihtoutVAT = (inv.RETAILPRICE * inv.QUANTITY);
                            var tempAmoutWithoutVAT = amountWihtoutVAT;
                            decimal discountAmount = 0;
                            if (inv.DISCOUNTRATE != 0)
                            {
                                discountAmount = amountWihtoutVAT * (((decimal)inv.DISCOUNTRATE) / 100);
                                amountWihtoutVAT = amountWihtoutVAT - discountAmount;
                            }

                            var taxRate = (inv.TAXRATE.ToString() == "-1") ? "\\" : inv.TAXRATE.ToString();
                            onlyVATRate = taxRate;// cho hóa đơn 1 thuế
                            var VATAmount = amountWihtoutVAT * (inv.TAXRATE == -1 ? 0 : ((decimal)inv.TAXRATE) / 100);
                            var amountWithVAT = (amountWihtoutVAT + VATAmount);

                            var retailPriceToString = string.IsNullOrEmpty(retailPrice.ToString("##,###").Replace(",", ".")) ? "0" : retailPrice.ToString("##,###").Replace(",", ".");
                            var amountWihtoutVATToString = string.IsNullOrEmpty(amountWihtoutVAT.ToString("##,###").Replace(',', '.')) ? "0" : amountWihtoutVAT.ToString("##,###").Replace(',', '.');
                            <tr class="rowlist">
                                @if (!addRowTd)
                                {
                                    addRowTd = true;
                                    <td align="center" style="border-left: 1px solid #000;border-bottom: 1px solid #fff;border-top: 1px solid #fff;">@inv.OLDNO</td>
                                    <td align="center" style="border-bottom: 1px solid #fff;">@inv.NEWNO</td>
                                }
                                else
                                {
                                    <td align="center" style="border-left: 1px solid #000;border-top: 1px solid #fff;">&nbsp;</td>
                                    <td align="center">&nbsp;</td>
                                }
                                <td align="right">@inv.QUANTITY</td>
                                <td align="right">@inv.RETAILPRICE</td>
                                @if (obj.DISCOUNTTYPE == "CHIET_KHAU_THEO_HANG_HOA")
                                {
                                    <td align="right">@(obj.ID == 0 ? "" : inv.DISCOUNTRATE.ToString())</td>
                                }
                                <td align="right">@amountWihtoutVATToString</td>
                            </tr>
                            totalQuantity += inv.QUANTITY;
                            totalMoneyWithoutTax += (inv.RETAILPRICE * inv.QUANTITY) - discountAmount;
                            totalDiscount += discountAmount;
                            totalVatAmount += (amountWihtoutVAT * ((decimal)(inv.TAXRATE == -1 ? 0 : inv.TAXRATE) / 100));
                            //Tính tiền phí bapr vệ môi trường
                            totalVatAmountwater += (amountWihtoutVAT * ((decimal)inv.TAXRATEWATER / 100));
                        }
                        @{
                            var lstKCT = obj.LISTPRODUCT.Where(x => x.TAXRATE == -1).Count();
                            var lstProducts = obj.LISTPRODUCT.Count();
                            totalMoney = (totalMoneyWithoutTax + totalVatAmount + totalVatAmountwater - -totalDiscount);
                            var a = string.IsNullOrEmpty(totalMoneyWithoutTax.ToString("##,###").Replace(',', '.')) ? "0" : totalMoneyWithoutTax.ToString("##,###").Replace(',', '.');
                            var b = string.IsNullOrEmpty(totalVatAmount.ToString("##,###").Replace(',', '.')) ? "0" : totalVatAmount.ToString("##,###").Replace(',', '.');
                            var c = string.IsNullOrEmpty(totalMoney.ToString("##,###").Replace(',', '.')) ? "0" : totalMoney.ToString("##,###").Replace(',', '.');
                            var d = string.IsNullOrEmpty(totalVatAmountwater.ToString("##,###").Replace(',', '.')) ? "0" : totalVatAmountwater.ToString("##,###").Replace(',', '.');
                            var e = string.IsNullOrEmpty(totalMoneyWithoutTax.ToString("##,###").Replace(',', '.')) ? "0" : totalMoneyWithoutTax.ToString("##,###").Replace(',', '.');
                            currencyWords = DS.Common.Helpers.ReadNumberToCurrencyWords.ConvertToWordsWithPostfix((decimal)(totalMoney), obj.CURRENCY);
                        }
                        <tr></tr>
                        <tr>
                            <td align="left" colspan="2" class="border-dark">Tổng cộng:</td>
                            <td align="right" class="border-dark" style="font-weight:bold;">@totalQuantity</td>
                            <td align="right" class="border-dark"></td>
                            <td align="right" class="border-dark" style="font-weight:bold;">@(obj.ID == 0 ? "" : e)</td>
                        </tr>
                        <tr>
                            <td align="left" colspan="4" class="border-dark">
                                Thuế suất GTGT (%) <i>(VAT rate)</i>: <span> @(obj.ID == 0 ? "" : (onlyVATRate == "\\" ? "\\" : onlyVATRate + "")) %</span>
                                <span style="float:right;">Tiền thuế GTGT <i>(VAT Amount)</i>:</span>
                            </td>
                            <td align="right" colspan="3" class="border-dark"><b> @(obj.ID == 0 ? "" : (lstKCT == lstProducts ? "\\" : b))</b></td>
                        </tr>
                        <tr>
                            <td align="left" colspan="4" class="border-dark"> Phí bảo vệ môi trường đối với nước thải sinh hoạt:10%</td>
                            <td align="right" colspan="3" class="border-dark"><b> @(obj.ID == 0 ? "" : d)</b></td>
                        </tr>
                        <tr>
                            <td align="left" colspan="4" class="border-dark"> Tổng tiền thành toán <i>(Total amount)</i>:</td>
                            <td align="right" colspan="3" class="border-dark"><b> @(obj.ID == 0 ? "" : c)</b></td>
                        </tr>
                        <tr>
                            <td colspan="9" class="border-dark">
                                <strong>Số tiền bằng chữ</strong> <i>(Amount in words): @(obj.ID == 0 ? "" : currencyWords)</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless" style="margin-top:-66px;margin-bottom:0;">
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-right border-0" style="vertical-align: middle;">
                                <p style="padding: 0;margin: 0;font-size: 16px;text-align: left;">
                                    @if (obj.INVOICETYPE == (int)DS.Common.Enums.EnumHelper.INVOICE_TYPE.ALTERNATIVE)
                                    {
                                        <text>
                                            Thay thế cho hóa đơn: @orgInvoice.NUMBER.ToString("D7"), mẫu số @orgInvoice.FORMCODE, ký hiệu @orgInvoice.SYMBOLCODE, ký ngày @orgInvoice.SIGNEDTIME.ToString("dd/MM/yyyy")
                                        </text>
                                    }

                                    @if (obj.INVOICETYPE == (int)DS.Common.Enums.EnumHelper.INVOICE_TYPE.MODIFIED)
                                    {
                                        <text>
                                            Điều chỉnh cho hóa đơn: @orgInvoice.NUMBER.ToString("D7"), mẫu số @orgInvoice.FORMCODE, ký hiệu @orgInvoice.SYMBOLCODE, ký ngày @orgInvoice.SIGNEDTIME.ToString("dd/MM/yyyy"). Lý do: @obj.CHANGEREASON
                                        </text>
                                    }
                                </p>
                                @*<p style="padding: 0;margin: 0;font-size: 20px;margin-right: 100px;">
                                        <i>Ngày @(obj.ID == 0 ? "....." : obj.SIGNEDTIME.Day.ToString("D2")) tháng @(obj.ID == 0 ? "....." : obj.SIGNEDTIME.Month.ToString("D2")) năm</i>
                                    </p>*@
                            </td>
                        </tr>
                        <tr>
                            @* Nếu là hóa đơn chuyển đổi *@
                            @if (obj.INVOICETYPE == 4 && obj.ID != 0)
                            {
                                <td valign="top" class="text-center" style="width: 33.3333%; padding: 16px; vertical-align: top !important">
                                    <br>
                                    <strong>Người chuyển đổi</strong> <i>(Converter)</i><br>
                                    <i>(Ký, ghi rõ họ, tên)</i><br>

                                    <div style="text-align: center; margin-top: 10px;">
                                        <b>@obj.CONVERTUSERNAME</b> <br />
                                        <div>Ngày chuyển đổi <i>(Conversion date): @obj.CONVERTTIME.ToString("dd/MM/yyyy")</i></div>
                                    </div>
                                </td>
                            }
                            <td valign="top" class="text-center" style="width: 33.3333%;"></td>

                            <td class="text-center" style="width: 33.3333%;  padding: 16px;vertical-align: top !important">
                                <br>
                                <strong>Người bán hàng</strong><br>
                                <i>(Ký, ghi rõ họ, tên)</i><br>

                                @if (obj.INVOICESTATUS == 2 || obj.INVOICESTATUS == -1)
                                {
                                    <div style="font-weight: bold;border: 3px solid red;color: red;text-align: left;padding: 12px;width: 80%;margin: auto;margin-top: 6px; background: url('https://e.onfinance.asia/Images/check-mark-icon-png-11.png') no-repeat center center; background-size: 29%">
                                        Signature Valid<br>
                                        Ký bởi: @obj.COMNAME<br>
                                        Ký ngày: @(obj.ID == 0 ? "" : obj.SIGNEDTIME.ToString("dd/MM/yyyy"))
                                    </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="position: absolute; left: 0; right: 0; bottom: 8px; padding: 0 20px; text-align:left;">
                    <p class="m-0">
                        Mã tra cứu:
                        @if (obj.INVOICESTATUS == 2)
                        {
                            @obj.REFERENCECODE
                        }
                        <span style="padding-left: 20px">Trang tra cứu: <a style="color: black" href="https://onfinance.asia/tracuu/?referencecode=@obj.REFERENCECODE"> https://onfinance.asia/tracuu</a></span>
                    </p>
                </div>
                <div style="position: absolute;width: 80%;top: 40%;left: calc(67% - 100px);transform: rotate(-90deg);">
                    <p class="m-0">
                        <span style="padding-left: 20px">(Khởi tạo từ phần mềm OnFinance.asia - Công ty cổ phần tập đoàn truyền thông và công nghệ NOVA MST: 0101990346)</span>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>