
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        ERP Onfinance
    </title>
    <meta name=theme-color content=#286393>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/skins/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Minifier/novaon.styles.css?v=1.06" rel="stylesheet" />

    <script src="/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/js/jquery-ui.min.js?v=1.01"></script>
    <script src="~/Content/js/jquery-ui-timepicker-addon.min.js?v=1.01"></script>
    <script src="~/Content/js/jquery.number.min.js?v=1.01"></script>
    <script src="~/Content/js/jquery.multiselect.min.js"></script>
    <script src="~/Content/js/jquery.multiselect.filter.min.js"></script>
    <script src="~/Content/js/angular.min.js?v=1.01"></script>

    <script src="/Minifier/novaon.scripts.js?v=1.05"></script>
    <script src="/Minifier/factory.js?v=1.02"></script>
    <script src="/Minifier/controller.js?v=1.03"></script>

</head>
<body ng-app="onfinance" class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="content-wrapper">
            <section class="content-header">
                @RenderBody()
            </section>
        </div>
        @Html.Partial("_ControlSidebar")
    </div>
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>