@using SAB.Common

@if (Model != null)
{
    <table class="table table-bordered table-striped" style="width: 100%" data-totalpage="@ViewBag.TotalPages" data-currentpage="@ViewBag.CurrentPage">
        <thead>
            <tr>
                <th class="text-center" style="width: 50px">
                    <input type="checkbox" value="1" name="checkall" />
                </th>
                <th class="text-center" style="width: 120px">Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th class="text-center" style="width: 60px">Tồn</th>
            </tr>
        </thead>
        <tbody id="bodyListChonse">
            @foreach (ProductModel p in Model)
            {
                <tr class="gradeX RowChosen">
                    <td class="text-center">
                        <input type="checkbox" name="pProductID" id="id_@p.PRODUCTID.Trim()" value="@p.PRODUCTID.Trim()" />
                        <input type="hidden" name="pProductName" value="@p.PRODUCTNAME" />
                        <input type="hidden" name="pIsAllowDecimal" value="@Html.Raw(p.ISALLOWDECIMAL?"1":"0")" />
                        <input type="hidden" name="pQuantityUnitID" value="@p.QUANTITYUNITID" />
                        <input type="hidden" name="pQuantityUnit" value="@p.QUANTITYUNIT" />
                        <input type="hidden" name="pVAT" value="@p.VAT" />
                        <input type="hidden" name="pITEMID" value="@p.ITEMID" />
                        <input type="hidden" name="pITEMQUANTITYUNITID" value="@p.ITEMQUANTITYUNITID" />
                        <input type="hidden" name="pSUBGROUPID" value="@p.SUBGROUPID" />
                        <input type="hidden" name="pCOLORVI" value="@p.COLORVI" />
                        <input type="hidden" name="pSIZE" value="@p.SIZE" />
                        <input type="hidden" name="pWEIGHT" value="@p.WEIGHT" />
                    </td>
                    <td class="text-center">
                        <label style="font-weight: 100" for="id_@p.PRODUCTID.Trim()">@p.PRODUCTID.Trim()</label>
                    </td>
                    <td>
                        <label style="font-weight: 100" for="id_@p.PRODUCTID.Trim()"><span>@p.PRODUCTNAME</span></label>
                    </td>
                    <td class="text-center">
                        <label style="font-weight: 100" for="id_@p.PRODUCTID.Trim()">@p.QUANTITY</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-right">
        <div class="btn-group divpage">
            <!--[PAGER]-->
        </div>
    </div>
}

<script src="~/Scripts/smartpaginator.js"></script>

<script>
    function callPaginator() {
        $('#pPagingSelectedProduct').smartpaginator({
            totalrecords: $("#pTableSelectedProduct tbody input[type='checkbox']").length,
            recordsperpage: 10,
            length: 6,
            datacontainer: 'pTableSelectedProduct',
            dataelement: 'tr'
        });
        $("#pSelectedProductResult tbody tr").unbind();
    }

    function addSelectNewProduct(_tr) {
        var newTR = $("<tr class='gradeX RowChosen'></tr>").html(_tr.html()).clone();
        var chk = newTR.find("input[type='checkbox']").change(function () {
            var __tr = $(this).closest('tr');
            __tr.remove();
            callPaginator();
            //$("#pSearchProduct").trigger("click");
        });
        chk.attr('checked', true).attr("name", "ProductId").attr("id", "p_" + chk.val());
        newTR.find('label').attr("for", "p_" + chk.val());
        $("#pSelectedProductResult tbody").prepend(newTR);

        if ($("#bodyListChonse").find('tr').length == 1) {
            $("#pSearchProduct").trigger("click");
        }
    }

    $('thead input[name="checkall"]').click(function () {
        var _table = $(this).closest('table');
        _table.find('tr:not(:hidden) input[type="checkbox"]').prop('checked', $(this).is(':checked'));
        if (_table.attr('id') == 'pTableSelectedProduct') {
            $("#pSelectedProductResult tbody input[type='checkbox']").each(function () {
                if (!$(this).is(':checked')) {
                    $(this).closest('tr').remove();
                }
            });
        } else {
            $("#pSearchProductResult tbody input[type='checkbox']:checked").each(function () {
                var _this = $(this);
                var _tr = _this.closest('tr');
                addSelectNewProduct(_tr);
                _tr.remove();
            });
        }

        callPaginator();
        //$("#pSearchProduct").trigger("click");
    });

    $(document).ready(function () {
        $('input[name="pProductID"]').change(function () {
            var _this = $(this);
            var _tr = _this.closest('tr');
            addSelectNewProduct(_tr);
            _tr.remove();

            callPaginator();

            //$("#pSearchProduct").trigger("click");            
        });
    });
</script>


